<div class="menu-filtro mt-2">
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a (click)="filtrarCitas( 'todos' )" class="nav-link" [ngClass]="{'active': citaActiva == 'todos'}" >Todos</a>
        </li>
        <li *ngFor="let area of areasMedicas" class="nav-item">
          <a (click)="filtrarCitas( area.clave )" class="nav-link" [ngClass]="{'active': area.clave === citaActiva}" >{{ area.desc }}</a>
        </li>
      </ul>
      <hr class="mt-2 mb-2">
</div>
<div class="citas mt-4">
    <div *ngFor="let cita of arrCitas; let idx = index" class="cita">
        <div class="datos">
            <p>{{ cita.fecha }}</p>
            <p>{{ cita.hora }}</p>
            <span class="badge" [ngClass]="areaClass( cita.area )" 
            >{{ cita.area }}</span>
            <i (click)="eliminarCita(cita.id)" class="bi bi-trash"></i>
        </div>
        <div class="name">
            <p class="cita-nombre">{{ cita.nombre }}</p>
            <a class="nav-link" href="#">Ver<i class="bi bi-arrow-right-short"></i></a>
        </div>
    </div>
</div>